<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    h2{
       color: midnightblue;
        font-family: "Apple Braille";
    }
</style>


<body>
<br/>
<br/>
<br/>
</br>

<h2>Hi, I’m Hayle!
I like making things and meeting new people.
</h2>

<a href="http://localhost:63342/demo/templates/Resume.html?_ijt=tn8l6uogib4h3mkp22g1o0dag1" class="btn btn-info" role="button" >Resume</a>
<br/>
<br/>
<a href="http://localhost:63342/demo/templates/Homepage.html?_ijt=p8av6p5haee9f239d6490e3ld" class="btn btn-info" role="button" >Back to Home page</a>



</body>
</html>