<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Resume</title>
    <style>
        body {
            background-color: lightblue;
        }
        h2 {
            color: Maroon;
            text-align: center;
        }
        h3{color:darkblue}



    </style>
</head>


<body>


<h2>Haylemelekot Alemneh</h2>
<h5><b>Silverspring, MD 20910 </b></h5>
<hr>

<h3>Software Engineer:</h3>
<ul>
    <li>Experienced in Array, Arraylist, methods,any loops, Objected oriented programming, CSS and html  bootstrap, etc.  </li>
    <li>Quickly learn and master new technologies: successful work with both team and self-directed setting</li>
</ul>
<h3>Education:</h3>
<ul>
    <li>GED in State of New York University.........................2015, Calicoon, NY</li>
    <li>Trade diploma in Delaware Vally Job Corps.....2016,   Calicoon, NY</li>
    <li>Sophomore in Onondaga community College in Business Adminstration.......2017,  Syracuse, NY</li>
    <li>Certificate at MicroSoft,Edx Learn to program in Java for beginners...........2019 </li>
    <li>Second year apprentice in the Union.......................2017-2018 </li>
    <li>Certificate in the introduction of Computers...................2013</li>
</ul>
Course completed
<ul>
    <li>Java mini bootcamp </li>
    <li>Java for begginers</li>
    <li>Java bootcamp</li>
    <li>Object-oriented design</li>
    <li>Introduction to computer</li>

</ul>
<h3> Work Experience</h3>
4 years Experience in Electrician Helper & Apprentice position
<a href="">Visit my facebook</a>
<p></p>

</body>
</html>
