<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body background="https://wallpaperplay.com/walls/full/0/4/a/105430.jpg" alt="Image result for beautiful sunrise" width="2000" height="1000" style="">
<style>
h4  {
        text-align: center;

    }
</style>


<body>

<h1 >Welcome to my page</h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

    <ul class="navbar-nav">

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Resumepage">Resume</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/portfoliopage">portfolio</a>
        </li>



    </ul>
</nav>
<div class="container">
<br/>
    <br/>
<br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h4>

        <a href="http://localhost:63342/demo/templates/Aboutme.html?_ijt=bohkheorsk4de91jijgnbi02ka" class="btn btn-info" role="button" >About me</a>
    <a href="http://localhost:63342/demo/templates/Hobbies.html?_ijt=sui4pvlg4ctr8mm7mim06vjnb5" class="btn btn-info" role="button">View More</a>
</h4>
</div>


</body>
</html>