<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h3>A few fun facts about myself</h3>

<body>


<p>

I work out of Richmond, VA, I love pour over coffee, I have a cat named after MacGyver, my favorite number is 22, I'm not a huge fan of IPAs, I play video games like it's my life, I knew what I wanted to do at the age of 13, I downhill mountain bike, my favorite food is bacon, and I broke my left arm twice.
</p>
<br/>
<br/>
<a href="http://localhost:63342/demo/templates/Homepage.html?_ijt=p8av6p5haee9f239d6490e3ld" class="btn btn-info" role="button" >Back to Home page</a>

</body>
</html>